# 1.) Import the Credit Card Fraud Data From CCLE

In [242]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
import numpy as np

In [243]:
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

In [244]:
df = pd.read_csv("/content/gdrive/MyDrive/ECON441B/fraudTest.csv")

In [245]:
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,Luray,MO,63453,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,Lake Jackson,TX,77566,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,Burbank,WA,99323,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,Mesa,ID,83643,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,Edmond,OK,73034,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [246]:
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

# 2.) Select four columns to use as features (one just be trans_date_trans)

In [247]:
df_select = df[['trans_date_trans_time','category','amt','city_pop','is_fraud']]
df_select

       trans_date_trans_time        category     amt  city_pop  is_fraud
0        2020-06-21 12:14:25   personal_care    2.86    333497         0
1        2020-06-21 12:14:33   personal_care   29.84       302         0
2        2020-06-21 12:14:53  health_fitness   41.28     34496         0
3        2020-06-21 12:15:15        misc_pos   60.05     54767         0
4        2020-06-21 12:15:17          travel    3.19      1126         0
...                      ...             ...     ...       ...       ...
555714   2020-12-31 23:59:07  health_fitness   43.77       519         0
555715   2020-12-31 23:59:09       kids_pets  111.84     28739         0
555716   2020-12-31 23:59:15       kids_pets   86.88      3684         0
555717   2020-12-31 23:59:24          travel    7.99       129         0
555718   2020-12-31 23:59:34   entertainment   38.13    116001         0

[555719 rows x 5 columns]

# 3.) Create a unique variable out of trans_date.

In [248]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])

In [249]:
df_select = df[['trans_date_trans_time','category','amt','city_pop','is_fraud']]

In [250]:
df_select.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  datetime64[ns]
 1   category               555719 non-null  object
 2   amt                    555719 non-null  float64
 3   city_pop               555719 non-null  int64
 4   is_fraud               555719 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 21.2+ MB

In [251]:
df_select['time_variable'] = [i.hour for i in df['trans_date_trans_time']]
df_select

<ipython-input-251-b5a1d02cf768>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select['time_variable'] = [i.hour for i in df['trans_date_trans_time']]

,trans_date_trans_time,category,amt,city_pop,is_fraud,time_variable
0,2020-06-21 12:14:25,personal_care,2.86,333497,0,12
1,2020-06-21 12:14:33,personal_care,29.84,302,0,12
2,2020-06-21 12:14:53,health_fitness,41.28,34496,0,12
3,2020-06-21 12:15:15,misc_pos,60.05,54767,0,12
4,2020-06-21 12:15:17,travel,3.19,1126,0,12
...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,health_fitness,43.77,519,0,23
555715,2020-12-31 23:59:09,kids_pets,111.84,28739,0,23
555716,2020-12-31 23:59:15,kids_pets,86.88,3684,0,23
555717,2020-12-31 23:59:24,travel,7.99,129,0,23
555718,2020-12-31 23:59:34,entertainment,38.13,116001,0,23

In [252]:
# make a categorical variable for time that you think fraud happens more often

In [253]:
x = pd.get_dummies(df_select,['category']).drop(['trans_date_trans_time','is_fraud'],axis = 1) #drop date_time and add unique time variable?
y = df['is_fraud']

In [254]:
x

,amt,city_pop,time_variable,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2.86,333497,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,29.84,302,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,41.28,34496,12,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,60.05,54767,12,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,3.19,1126,12,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,43.77,519,23,0,0,0,0,0,1,0,0,0,0,0,0,0,0
555715,111.84,28739,23,0,0,0,0,0,0,0,1,0,0,0,0,0,0
555716,86.88,3684,23,0,0,0,0,0,0,0,1,0,0,0,0,0,0
555717,7.99,129,23,0,0,0,0,0,0,0,0,0,0,0,0,0,1
555718,38.13,116001,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0

# 4.) Oversample the data (this will be your training data).

In [255]:
pip install imbalanced-learn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (0.8.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.24->imbalanced-learn) (3.1.0)

In [256]:
from imblearn.over_sampling import RandomOverSampler

In [257]:
oversample = RandomOverSampler(sampling_strategy=0.1)

In [258]:
resample_x, resample_y = oversample.fit_resample(x, y)

# 5.) Train a Logistic regression.

In [259]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
normalized_x = scaler.fit_transform(resample_x)

In [260]:
log_reg = LogisticRegression().fit(normalized_x, resample_y)

# 6.) The company you are working for wants to target at a False Positive rate of 5% what threshold should you use? (Use oversampled data)

In [261]:
from sklearn.metrics import confusion_matrix, f1_score
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import train_test_split

In [262]:
X_train, X_test, y_train, y_test = train_test_split(normalized_x, resample_y, test_size=0.2, random_state=19)

In [263]:
# train your logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# predict the probability of each sample belonging to the positive class
probs = model.predict_proba(X_test)[:, 1]

# choose a threshold that targets a false positive rate of 5%, need to adjust multiple times to arrive at desire false positive rate
threshold = 0.145
predictions = (probs > threshold).astype(int)

# calculate the confusion matrix
tn, fp, fn, tp = confusion_matrix(y_test, predictions).ravel()

# calculate the false positive rate
fpr = fp / (fp + tn)
print("False positive rate:", fpr)

False positive rate: 0.05050614507987249

In [264]:
y_predict = log_reg.predict(normalized_x)
print('Accuracy', log_reg.score(normalized_x, resample_y))

Accuracy 0.9507760320955905

# 7.) If the company makes .02*amt on True transactions and loses -amt on False (Use original data)

In [265]:
df['revenue'] = np.where(df['is_fraud'] == 0, 0.02*df['amt'], -df['amt'])
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,revenue
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0,0.0572
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0,0.5968
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0,0.8256
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0,1.2010
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0,0.0638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,Luray,MO,63453,40.4931,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0,0.8754
555715,555715,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,Lake Jackson,TX,77566,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0,2.2368
555716,555716,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,Burbank,WA,99323,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0,1.7376
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,Mesa,ID,83643,44.6255,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0,0.1598
555718,555718,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,Edmond,OK,73034,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0,0.7626

In [266]:
sum_rev=df['revenue'].sum()
sum_rev

-384733.11139999994

# 8.) Using Logistic Regression Lasso to inform you. Would you use the selected features in a trusted prediction model?

In [267]:
logisticRegrLasso = LogisticRegression(penalty='l1',solver='liblinear')
logisticRegrLasso.fit(X_train, y_train)

LogisticRegression(penalty='l1', solver='liblinear')

In [268]:
# most or all of the variables go to 0 --> data is garbage?

In [269]:
y_pred_lasso=logisticRegrLasso.predict(X_test)
y_pred_lasso.sum()

6348

In [270]:
# predict class probabilities
y_prob_lasso = logisticRegrLasso.predict_proba(X_test)
# select the threshold that gives you the desired false negative percentage
target_fn_percentage = 5
threshold = np.percentile(y_prob_lasso[:,1], 100-target_fn_percentage)
# make predictions using the selected threshold
y_pred_lasso = (y_prob_lasso[:,1] > threshold).astype(int)
# calculate the confusion matrix
confusion_matrix(y_test, y_pred_lasso)

array([[110155,    584],
       [  5546,   5502]])